router bgp {{ bgp_as }}
   router-id {{ router_id }}
{% for neighbor in bgp_neighbors %}
   neighbor {{ neighbor.address }} remote-as {{ neighbor.remote_as }}
   neighbor {{ neighbor.address }} update-source {{ neighbor.update_source }}
{% if neighbor.get('description') %}
   neighbor {{ neighbor.address }} description {{ neighbor.description }}
{% endif %}
   neighbor {{ neighbor.address }} send-community
{% endfor %}
   !
   address-family ipv4
{% for neighbor in bgp_neighbors %}
      neighbor {{ neighbor.address }} activate
{% endfor %}
